@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #11071f;
    color: white;
    line-height: 1.6;
}
header {
    background-color: #1a0b2e;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;

    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.logo {
    transition: .9s ease;
    letter-spacing: 4px;
    margin: 30px;
}
.logo:hover {
    transform: scale(0.9);
}
.gat a {
    color: #ffffff9c;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 500;
    font-size: 1em;
    margin-left: 5em;
    transition: 0.5s ease;
}
.gat a:hover {
    color: #7800ba;
}

#section-1 {
    margin-top: 0;
    margin-left: 6em;
    text-align: center;
    padding: 100px 20px;
    display: flex;
    margin-bottom:-6em ;
    flex-direction: row; /* الاتجاه الافتراضي */
}

.image-container {
    position: relative;
    width: 18em; /* تأكد من ضبط عرض الحاوية بناءً على حجم الصورة الأمامية */
}

.background-image {
    position: absolute;
    top: -1em;
    left: -1em;
    width: 100%; /* تأكد من أن الصورة الخلفية تغطي كامل الحاوية */
    height: auto; /* تأكد من الحفاظ على نسبة العرض إلى الارتفاع */
    z-index: 1; /* خلف الصورة الأمامية */
}

.avatar {
    position: relative;
    width: 100%; /* تأكد من أن الصورة الأمامية تملأ الحاوية */
    border-radius: 50%;
    z-index: 2; /* فوق الصورة الخلفية */
}
.name-s1{
    color:#7800ba;
    display: inline;
}
#section-1 h1 {
    font-size: 2em;
}
.s1-2 p {
    font-size: .9em;
    display: inline-block; /* يجعل العناصر في نفس السطر */
    margin: 0; /* إزالة المسافات الافتراضية */
    vertical-align: middle; /* محاذاة عمودية في نفس السطر */
}
.s1{
    text-align: left;
    margin-left: -15px;
    margin-top: 2.5em;
    
}
.s1-2{
    margin-bottom: 30px;
    
}
#section-1 p a {
    color: #726eff;
    text-decoration: none;
}
.s1-3{
    font-size: .8em;
}
.section-2 {
    padding: 20px;
    margin-left: 8em;
    color: white;
    text-align: left; /* محاذاة النص إلى اليسار بشكل افتراضي */
}

.section-2 h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.section-2 a {
    color: #ffffffd0;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;

    transition: color 0.3s ease;
}

.section-2 a:hover {
    color: #7800ba;
}

.section-2 i {
    margin-right: 10px;
    font-size: 1.2em;
    vertical-align: middle;
}

/* Work Experience Section */
#work-experience {
    text-align: center;
    padding: 50px 20px;
}
.work-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #392052;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
}

/* Projects Section */
#projects {
    padding: 50px 20px;
    text-align: center;
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #2d1148;
    margin-top: 20px;
}


/* From Uiverse.io by adamgiebl */ 
button {
    --green: #7900ba54;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(#7900ba54);
    background: linear-gradient(to right, #7900ba54 1%, transparent 40%,transparent 60% , #7900ba54 100%);
    color: var(#ffffff);
    box-shadow: inset 0 0 10px #7900ba54, 0 0 9px 3px #7900ba54;
  }
  
  button:hover {
    color: #7900ba54;
    box-shadow: inset 0 0 10px #7900ba54, 0 0 9px 3px #7900ba54;
  }
  
  button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, #7900ba54 40%,#7900ba54 60% , transparent 100%);
  }
  
  button:hover:before {
    transform: translateX(15em);
  }
  .section-3 {
    background-image: url('imgs/Gradient.png');
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    color: #fff;
    text-align: center;
}
.section-3 H2{
    margin-bottom: 2em;
    margin-top: 1em;
    font-size: 1.8em;
}
.work-cards {
    display: grid;
    grid-template-columns: repeat(2, min-content); /* بطاقتان في كل صف */
    gap: 20px;
    justify-content: center;
}

.card {
    display: flex; /* استخدام Flexbox لترتيب الصورة والعناصر النصية */
    background-color: #11071f6c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 -10px 20px rgb(36, 17, 63); /* ظل خارجي باللون #11071f من الأعلى */
    width: 450px; /* تعيين عرض أكبر لاحتواء النص والصورة */
    align-items: center;
    gap: 20px; /* المسافة بين الصورة والمحتوى */
}

.card img {
    width: 100px; /* حجم الصورة */
    height: auto;
    border-radius: 8px;
}

.card div {
    text-align: left; /* محاذاة النص لليسار */
}

.card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.card p {
    font-size: 0.9em;
    margin-bottom: 15px;
}

.card button {
    border: none;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.section-4 {
    background-image: url('imgs/Skills.png');
    background-size: contain; /* تجعل الصورة تظهر بالكامل، قد تترك بعض المساحات فارغة */
    background-repeat: no-repeat; /* منع تكرار الصورة */
    background-position: center center; /* تموضع الصورة في منتصف القسم */
    background-attachment: scroll; /* اجعل الصورة تتحرك مع المحتوى */
    min-height: 100vh; /* اجعل الارتفاع لا يقل عن ارتفاع الشاشة */
    width: 100%; /* عرض القسم بالكامل */
    margin-top: 1em;
}





@media (max-width: 768px) {
    header {
        flex-direction: row; /* إبقاء العناصر في صف واحد */
        align-items: center; /* التأكد من أن جميع العناصر في منتصف الهيدر عموديًا */
        justify-content: space-between; /* توزيع العناصر بالتساوي */
        padding: 5px 10px; /* تعديل الحواف لتلائم الشاشة الصغيرة */
        height: auto;
    }
    
    .logo {
        width: 100px; /* تحديد عرض الصورة */
        height: auto; /* الحفاظ على نسبة العرض إلى الارتفاع */
        transition: width 0.5s ease; /* إضافة تأثير التحول لتغيير الحجم */
    }
    
    .gat {
        display: flex;
        justify-content: flex-end; /* جعل الروابط في أقصى اليمين */
        flex-grow: 1; /* تأكيد تمدد القائمة لتغطية المساحة المتاحة */
        align-items: center; /* محاذاة الروابط بشكل عمودي مع الشعار */
    }
    
    .gat a {
        font-size: .8em; /* ضبط حجم الخط للروابط */
        padding: 10px; /* إضافة مساحة حول الروابط */
        margin-left: 15px; /* إضافة بعض التباعد بين الروابط */
        margin-right: 30px;
    }
    #section-1 {
        margin: 0;
        flex-direction: column;
        margin-bottom: -1em;
        align-items: center; /* محاذاة العناصر في المنتصف */
    }

    .s1 {
        text-align: center;
        margin-top: 0;
    }

    #section-1 h1 {
        font-size: 1.9em; /* تصغير حجم النص */
    }

    #section-1 h5 {
        font-size: 1em; /* تصغير حجم النص */
    }

    #section-1 p {
        font-size: .8em; /* تصغير حجم النص */
        margin-bottom: -30px;
        margin-top: 10px;
    }
    .work-cards, .project-cards {
        flex-direction: column;
        align-items: center;
    }
    .section-2 {
        text-align: center; /* محاذاة النص إلى المنتصف */
        margin: 0;
    }

    .section-2 h1 {
        font-size: 1.7em; /* تصغير حجم العنوان */
    }

    .section-2 i {
        font-size: 1.5em; /* تصغير حجم الأيقونة */
        margin-right: 8px;
    }

    .section-2 a {
        font-size: 1em;
    }
    .s2-2{
        font-size: 1em;
        
    }
    .work-cards {
        grid-template-columns: 1fr; /* بطاقة واحدة لكل صف */
        gap: 15px; /* تقليل المسافة بين البطاقات على الشاشات الصغيرة */
        justify-content: center; /* توسيط البطاقات */
        display: flex;
    }
    
    .card {
        width: 95%; /* اجعل البطاقات تأخذ العرض الكامل على الهواتف */
    }
    .card h3 {
        font-size: 1.2rem; /* تصغير العناوين */
    }
    .card p {
        font-size: 0.7rem; /* تصغير النصوص */
    }
    .card button {
    padding: 3px 6px;
    font-size: .7em;
    }
    .section-3 {

        background-size: 150%;
    }
    .section-4{
        min-height: 35vh;
    }
}
@media (max-width: 480px) {
    header {
        padding: 5px 10px;
        height: 60px;
    }
    
    .logo img {
        width: 20px; /* تقليل عرض الصورة بشكل أكبر */
    }
    
    .gat a {
        font-size: 1;
        margin-left: 8px;
    }
    .section-2 {
        margin: 0;
        padding: 10px; /* تقليل الحواف */
        text-align: center; /* محاذاة النص في الوسط */
    }

    .section-2 h1 {
        font-size: 1.2em;
    }

    .section-2 i {
        font-size: 1em;
    }

    .section-2 a {
        font-size: 0.8em;
        margin-left: 3px;
    }
}
footer {
    margin-left: 6em;
    margin-top: 40px; /* المسافة أعلى العنوان */
    text-align: left; /* محاذاة النص من اليسار */
    padding: 10px; /* إضافة بعض المسافة حول المحتوى */
    background-color: #1a0b2e00;
}
/* Social Links */
.socials{
    margin-top: 5px;
}
.socials a {
    text-decoration: none; /* إزالة الخط السفلي من الروابط */
    padding: 8px;
    margin-left: 5px;
    transition: 0.5s ease;
}

.socials a:hover {
    font-size: 0.8em;
}

/* تطبيق التنسيق على الشاشات الصغيرة */
@media (max-width: 768px) {
    footer {
margin-left: 2em;

        text-align: left; /* محاذاة النص من اليسار على الشاشات الصغيرة */
    }
}